*{
  padding: 0;
  margin: 0;
}
.container{
  display: flex;
  padding: 60px;
  background-color: rgb(255, 252, 248);
}
.chat{
  margin-right: 200px;
  flex-direction: column;
  display: flex;
  
}
.chat1{
  display: flex;
  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: antiquewhite;
}
.chatRoom{
  font-size: 30px;
  margin-right: 500px;
}
.room{
  height: 60vh;
  width: 40vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgb(255, 248, 239);
}
.down{
  display: flex;
  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: antiquewhite;
}
.attach{
  margin-right: 50px;
}
.input{
  width: 550px;
}
.TaskBoard{
  display: flex;
  flex-direction: column;
}
.taskHead{
  display: flex;
  padding: 20px;
  border-radius: 20px;
  background-color: antiquewhite;
}
.taskBody{
  display: flex;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 248, 239);
}
.todo{
margin-right: 200px;
height: 70vh;
}
.inprogress{
margin-right: 200px;
height: 70vh;

}
.done{
  height: 70vh;

}